<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40720812994-ktciu0ldaoa2oekh8eti977is7vc267u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40720812994-ktciu0ldaoa2oekh8eti977is7vc267u</string>
	<key>API_KEY</key>
	<string>AIzaSyAV_bLZ-7ZMDr4AIKxL9Rqg0RFbjnq25uk</string>
	<key>GCM_SENDER_ID</key>
	<string>40720812994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.art4muslim.auor</string>
	<key>PROJECT_ID</key>
	<string>auor-8fa8c</string>
	<key>STORAGE_BUCKET</key>
	<string>auor-8fa8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40720812994:ios:b06c00f64bcf5c72d0e45b</string>
</dict>
</plist>